@using DartsScoreboardGames.Components.Pages.Screens.Games.Components
@using DartsScoreboardGames.Components.Pages.Screens.Games.Dialogs
@using DartsScoreboardGames.Components.Pages.Screens.Games.Interfaces
@using DartsScoreboardGames.Components.Pages.Screens.SharedComponents
@using DartsScoreboardGames.Services.Games

@implements IGameScreen<KillerGame>

@inject GameStateProvider GameStateProvider
@inject IDialogService DialogService

<GameView>
    <MudGrid Class="mt-lg-20">
        <MudItem Class="mx-auto" xs=11 lg=8>
            <div class="d-flex flex-wrap">
                @foreach (var player in GameStateProvider.Players) {

                    <MudCard class="@("w-100 flex-row my-5 game-card" + (GameStateProvider.ActivePlayer == player ? " active" : string.Empty) + (CurrentGame.PlayerIsDead(player) ? " dead" : string.Empty))" Style="width:100%;">
                        <PlayerDisplay class="my-auto ml-md-10 ml-3" Player="@player" />
                        <div class="d-flex flex-row my-auto ml-5 mr-10">
                            @if (CurrentGame.PlayerIsDead(player)) {
                                <MudIcon Size="Size.Large" Class="ml-5" Icon="fa-cross fa-regular" />
                            } else {
                                var score = CurrentGame.PlayerScore(player);
                                var icon = score > 2 ? "fa-skull " : "fa-circle ";
                                @for (int i = 0; i < 3; i++) {
                                    <MudIcon Size="Size.Large" Class="ml-5" Icon="@(icon + ((score > 2 || i < score) ? "fa-solid" : "fa-regular"))" />
                                }
                            }
                        </div>
                        <div class="d-flex flex-row my-auto ml-auto">
                            <div class="d-flex flex-column mr-5 my-auto" Style="min-width: 50px;">
                                @if (GameStateProvider.ActivePlayer == player && GameStateProvider.CurrentTurn is not null) {
                                    @if (GameStateProvider.CurrentTurn.Throws.First.HasValue && !GameStateProvider.CurrentTurn.Bust) {
                                        <MudChip T="string" Color="Color.Primary" class="mx-auto">@GameStateProvider.CurrentTurn?.Throws.First?.ToString()</MudChip>
                                    }
                                    @if (GameStateProvider.CurrentTurn.Throws.Second.HasValue && !GameStateProvider.CurrentTurn.Bust) {
                                        <MudChip T="string" Color="Color.Primary" class="mx-auto">@GameStateProvider.CurrentTurn?.Throws.Second?.ToString()</MudChip>
                                    }
                                    @if (GameStateProvider.CurrentTurn.Throws.Third.HasValue && !GameStateProvider.CurrentTurn.Bust) {
                                        <MudChip T="string" Color="Color.Primary" class="mx-auto">@GameStateProvider.CurrentTurn?.Throws.Third?.ToString()</MudChip>
                                    }
                                }
                            </div>
                            <MudText class="my-auto ml-auto mr-5" Align=Align.Center Style="min-width: 90px;" Typo="Typo.h3">@CurrentGame.NumberForPlayer(player)</MudText>
                        </div>
                    </MudCard>

                }
            </div>
        </MudItem>
    </MudGrid>
</GameView>
@code {
    private KillerGame CurrentGame = default!;

    protected override void OnInitialized() {
        CurrentGame = (GameStateProvider.CurrentGame as KillerGame)!;

        GameStateProvider.OnGameStateChanged += ChangeHandler;
        GameStateProvider.OnPlayerWin += PlayerWinHandler;
    }

    private async void PlayerWinHandler(object? sender, GameStateProvider.PlayerWinEventArgs e) {
        var param = new DialogParameters<WinDialog> {
            { x => x.WinningPlayer, e.WinningPlayer },
        };
        await DialogService.ShowAsync<WinDialog>("", param, new DialogOptions());
    }

    private async void ChangeHandler(object? sender, EventArgs e) =>
        await InvokeAsync(StateHasChanged);

    public void Dispose() {
        GameStateProvider.OnGameStateChanged -= ChangeHandler;
        GameStateProvider.OnPlayerWin -= PlayerWinHandler;
    }
}
